.places {
  display: grid;
  gap: 80px;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .places {
    padding: 0 calc((100vw - 984px)/2) 92px calc((100vw - 984px)/2);
    width: 984px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .places {
    padding: 0 calc((100vw - 928px)/2) 92px calc((100vw - 928px)/2);
    width: 928px;
  }
}